.table{
    border: 1px solid #ccc;
    width: 96%;
    margin: 0 auto;
    overflow: hidden;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    font-family: sans-serif;s
}

table a{
    text-decoration: none;
    color: inherit;
}

table, th, td{
    border: 1px solid #ccc;
}

th, td{
    padding: 5px;
    text-transform: uppercase;
}

thead tr, tbody td{
    text-align: center;
}