{% extends "exams/base.html" %}

{% block content %}

<body>
    <div class="container">
        {% for exam in exams %}
        <div class="card">
            {{exam}}
        </div>
        {% empty %}
        <div class="card text-center bg-secondary text-white" style="border: none;">
            No exams added yet.
        </div>
        {% endfor %}
        <a class="btn btn-custom hover-effect mt-2" href="{% url 'exams:create_exam' %}">Add Exam</a>
    </div>
</body>

{% endblock content %}