{% extends "exams/base.html" %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Exams Hub</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, amet assumenda, corporis dicta dolor eligendi eveniet, hic modi obcaecati odit officia officiis quas ratione repellendus repudiandae vel veritatis vitae? Consectetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dolore exercitationem hic iure non odio optio saepe sunt suscipit, temporibus tenetur, vel. Beatae corporis cumque error itaque possimus. Impedit, suscipit.</p>
  </div>
</div>

{% endblock content %}