{% extends 'exams/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<head>
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'exams/forms.css' %}" type="text/css">
</head>
<body>
    <h3 class="text-center">Term Initialization</h3>
    <div class="form-group">
        <form action="{% url 'exams:teacher_reg' %}" method="post" class="card p-2 mt-3" autocomplete="off" novalidate>
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    {{form.name|as_crispy_field}}
                </div>
                <div class="col-6">
                    {{form.start_date|as_crispy_field}}
                    {{form.closing_date|as_crispy_field}}
                </div>
            </div>
            <button type="submit" class="btn btn-outline-primary mt-3" style="width:90px;">Submit</button>
        </form>
        <!--Message from backend-->
        {% for message in messages %}
            {% if message.tags == "success" %}
                <div class=" text-center alert alert-primary alert-dismissible fade show" role="alert">{{message}}
                    <a href="{% url 'exam:allstudents' %}" type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</body>

{% endblock content %}