{% extends "exams/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<head>
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'exams/forms.css' %}" type="text/css">
</head>
<body>
    <div class="form-group">
        <form method="post" action="{% url 'exams:stud_reg' %}" class="card" autocomplete="off">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit">Register</button>
        </form>
    </div>
</body>
{% endblock content %}