{% extends 'exams/base.html' %}


{% block content %}

<div class="container">
    {% for stream in streams %}
    <button class="btn btn-outline-secondary hover-effect-two dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        FORM {{stream}}
    </button>
    <div class="dropdown" style="margin-bottom:10px;">

        <ul class="dropdown-menu bg-one">
        {% for darasa in darasas %}
            {% if darasa.stream == stream %}
                <li>
                    <a class="dropdown-item" href="{% url 'exams:class_list' darasa.daro_id %}">{{darasa.daro_name}}</a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>

    </div>
    {% endfor %}


    <a class="btn btn-custom hover-effect" href="{% url 'exams:stud_reg' %}">Add Student</a>

</div>
{% endblock content %}