{% extends "exams/base.html" %}

{% block content %}

<head>
    <title></title>
    <!-- {% load static %}
    <link rel="stylesheet" href="{ static 'exams/profile.css'}" type="text/css"> -->
</head>


<body>
    <div class="container">
        <h4 class="text-center">Teacher, {{teacher}}</h4>

        <div class="card-body">
            <p>TSC: {{teacher.tsc_no}}</p>
        </div>
        <div class="card-body">
            <p>Phone:{{teacher.telephone}}</p>
        </div>
        <div class="card-body">
            <p>Email: {{teacher.email}}</p>
        </div>
    </div>
</body>

{% endblock content %}